---
layout: index
title: vocabulary
---

{% assign min = 10 %}
{% assign max = 36 %}
{% assign diff = max | minus: min %}

<!-- Main -->
<div id="myCanvasContainer">
 <canvas width="300" height="300" id="myCanvas">
  <p>In Internet Explorer versions up to 8, things inside the canvas are inaccessible!</p>
 </canvas>
</div>
 
<div id="tags">
  <ul class="weighted" style="font-size: 50%" id="weightTags">
  {% for lesson in site.lessons %}


    {% for item in lesson.vocab %}
    {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
        <li><a data-weight="{{ randomNumber }}" style="font-size: {{ randomNumber }}" href="{{ site.baseurl }}{{ lesson.url }}">
            {{ item }}
            </a>
     </li>
    {% endfor %}

{% endfor %}
 </ul>
</div>
