<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/assets/manifest.json" >
<link rel="mask-icon" href="{{ site.baseurl }}/assets/safari-pinned-tab.svg" color="#77b900">
<meta name="msapplication-config" content="{{ site.baseurl }}/assets/browserconfig.xml" >
<meta name="msapplication-TileColor" content="#77b900">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
