<section id="banner">
    <div class="content">
        <header>
            <h1>Our Vision</h1>
            <p>To be a company that encourages the world to build, learn, teach and inspire through robotics.</p>
        </header>
        
        <h2>Our Mission</h2>
        
        <p>To offer accessible and relevant robotics products and programs that encourage innovation and promote education.  We develop in partnership with people of all ages, backgrounds, and cultures who share in the common goal of investing in and strengthening communities.</p>
    
        
        <p>Barnabas Robotics is a for-profit company that values giving more than receiving.  We strive to empower others through creating a sustainable business that brings great value to our partners and customers.</p>
        <ul class="actions">
            <li><a href="#" class="button big">Learn More</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="images/studentatwork.png" alt="" />
    </span>
</section>