<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/util.js" | relative_url }}"></script>
<!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | relative_url }}"></script><![endif]-->
<script src="{{ "/assets/js/main.js" | relative_url }}"></script>

<!--[if lt IE 9]><script type="text/javascript" src="{{ site.baseurl }}assets/js/tagcanvas/excanvas.js"></script><![endif]-->
<script src="{{ site.baseurl }}assets/js/tagcanvas/jquery.tagcanvas.min.js" type="text/javascript"></script>

<script>
    window.onload = function() {
        try {
        TagCanvas.Start('myCanvas', 'tags');
        } catch(e) {
        // something went wrong, hide the canvas container
        document.getElementById('myCanvasContainer').style.display = 'none';
        }
    };
    </script>
    
    <script>
    $(document).ready(function() {
        if( ! $('#myCanvas').tagcanvas({
        textColour : '#ffffff',
        outlineThickness : 1,
        maxSpeed : 0.03,
        depth : 0.75,
        },'tags')) {
        console.warn( "TagCanvas failed to load" );
        $('#myCanvasContainer').hide();
        }
    });
    </script>

