<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/util.js" | relative_url }}"></script>
<!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | relative_url }}"></script><![endif]-->
<script src="{{ "/assets/js/main.js" | relative_url }}"></script>
{% if page.url == vocabulary %}
<!--[if lt IE 9]><script type="text/javascript" src="{{ site.baseurl }}assets/js/tagcanvas/excanvas.js"></script><![endif]-->
 <script src="{{ site.baseurl }}assets/js/tagcanvas/jquery.tagcanvas.min.js" type="text/javascript"></script>
{% endif %}
