.tabs
{
	position: relative;
    clear: both;
}

.tabs .tab
{
	float: left;
	margin-right: 10px;
}

.content
{
	position: absolute;
	background-color: white;
	width: 100%;
	left: 0px;
}

.tabs .tab:nth-of-type(1) .content
{
	z-index: 1;
}

.tab:target a
{
	font-weight: bold;
}

.tab:target .content
{
	z-index: 1;
}
