---
layout: index
---
<!-- content -->
<section>
    <div id="teacher">
    {% if page.collection == "bot_lessons" or page.collection == "tinker_lessons" %}
    <header class="main upper">
        <div class="row">
            <div class="col-2">
                <span class="image fit">
                <img src="{{ site.baseurl }}/assets/images/section_main.png" width="150" /></span>
            </div>
            <div class="col-10">
                <h1 class="align-right"><a href="{{ site.baseurl }}{{ lesson.url }}">{{ page.title }}</a></h1>
                <hr />
                <div class="suggested-time">Suggested Time: {{ page.suggested_time }}</div>
            </div>
        </div>
    </header>

    <h2 id="overview"><i class="icon fa-university"></i> Lesson Overview</h2>
   
    <div class="box">
    <h3>Disciplinary Core Ideas</h3>
    <ul>
        {% for discipline in page.disciplines %}
        <li>{{ discipline }}</li>
        {% endfor %}
    </ul>
    </div>

    <div class="box">
        <h3>Learning Target(s)</h3>
        <div class="row">
            <div class="col-6 col-12-small">
                <h4>Technical Skills</h4>
                <ul>
                    {% for item in page.technical_skills %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-6 col-12-small">
                <h4>Life Skills</h4>
                <ul>
                    {% for item in page.life_skills %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-12-small">
            <div class="box">
            <h3>Essential Question(s)</h3>
            <ul>
                {% for item in page.essential_questions %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="col-6 col-12-small">
            <div class="box">
            <h3>Key Vocabulary</h3>
            <ul>
                {% for item in page.vocab %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>

        <div class="col-6 col-12-medium">
            <div class="box">
            <h3>Depth of Knowledge Levels Addressed</h3>
            <ul>
                {% for item in page.depth %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="col-6 col-12-medium">
            <div class="box">
            <h3>Barriers to Learning</h3>
            <ul>
                {% for item in page.barriers %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>

    <div class="box">
    <h3>Anticipatory Set</h3>
    <ul>
        {% for item in page.anticipatory %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    </div>
    
    <div class="box">
    <h3>Independent Practice</h3>
    <ul>
        {% for item in page.practice %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    </div>

    <div class="box">
    <h3>Final Assessment, project or product</h3>
    <ul>
        {% for item in page.assessment %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    </div>

    <div class="box">
        <h3>Lesson Materials</h3>
        <form method="post" action="http://httpbin.org/post
        " target="_blank">
            <div class="row">
                {% for item in page.materials %}
                <div class="col-12">
                    <input type="checkbox" id="{{- item -}}" name="{{ item }}" >
                    <label for="{{ item }}">{{ item }}</label>
                </div>
                {% endfor %}
                <div class="col-12">
                    <!-- <em>Missing Materials? Order here and we will fulfill what is missing.</em> -->
                </div>

                <div class="col-12">
                        <br/>
                    <ul class="actions">
                        <!-- <li><input type="submit" value="Order" class="primary"></li> -->
                        <li><input type="checkbox" id="selectAll" name="ignore" onclick="toggle(this);" />
                            <label for="selectAll">Check all?</label></li>
                    </ul>
                </div>
            </div>
    
        </form>
    </div>
    <script>
    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
    </script>
    {% endif %}
    </div>

    <div id="lesson-plan" class="row">
        <div class="col-2">
            <span class="image fit">
            <img src="{{ site.baseurl }}/assets/images/lesson_plan.png" width="150" /></span>
        </div>
        <div class="col-10">
            <h1 class="align-right"><a href="{{ site.baseurl }}{{ lesson.url }}">{{ page.title }}</a></h1>
            <hr />
            <div class="suggested-time">Suggested Time: {{ page.suggested_time }}</div>
        </div>
    </div>

    <h2><i class="icon fa-pencil"></i> Lesson Plan</h2>

    {{ content }}

    <div id="reflection" class="row">
        <div class="col-2">
            <span class="image fit">
            <img src="{{ site.baseurl }}/assets/images/reflection.png" width="150" /></span>
        </div>
        <div class="col-10">
            <h1 class="align-right">REFLECTION</h1>
            <hr />
        </div>
    </div>

    <h3>Comprehension</h3>
    <ul class="">
        {% for item in page.reflection.comprehension %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <h3>Challenges</h3>
    <ul class="">
        <li>What was hard in today's class?</li>
        {% for item in page.reflection.challenges %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <h3>Enjoyment</h3>
    <ul class="">
        <li>What was fun about today's class?</li>
        {% for item in page.reflection.enjoyment %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <h3>Mindset</h3>
    <ul class="">
        <li>What did you learn about yourself?</li>
        <li>What would you like to improve?</li>
        {% for item in page.reflection.mindset %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <h3>Community</h3>
    <ul class="">
        <li>How can what you learned impact those around you?</li>
        {% for item in page.reflection.community %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
	
    <hr class="major" />

    <h3 id="additional-resources"><i class="icon fa-cubes"></i> Additional Resources</h3>
    <div class="row">
        <div class="col-4 col-12-medium">
            <h4>Videos</h4>
            <ul>
                {% for item in page.videos %}
                <li><a href="{{ item.link }}" target="_blank">{{ item.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4 col-12-medium">
            <h4>Documents</h4>
            <ul>
                {% for item in page.documents %}
                <li><a href="{{ item.link }}" target="_blank">{{ item.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4 col-12-medium">
            <h4>Other</h4>
            <ul>
                {% for item in page.other %}
                <li><a href="{{ item.link }}" target="_blank">{{ item.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

</section>

{% if page.collection == "bot_lessons" %}
    {% assign this_collection = site.bot_lessons %}
{% elsif page.collection == "racer_lessons" %}
    {% assign this_collection = site.racer_lessons %}
{% endif %}

{% for links in this_collection %}
    {% if links.title == page.title %}

        {% unless forloop.first %}
            {% assign prevurl = prev.url %}
            {% assign prevtitle = prev.title %}
        {% endunless %}

        {% unless forloop.last %}
            {% assign next = this_collection[forloop.index] %}
            {% assign nexturl = next.url %}
            {% assign nexttitle = next.title %}
        {% endunless %}

    {% endif %}
    {% assign prev = links %}
{% endfor %}


<ul class="actions fit small">
{% if prevurl %}
    <li><a href="{{ site.baseurl }}{{prevurl}}" class="button primary fit small icon fa-arrow-circle-left"> Prev Lesson</a></li>
{% endif %}
{% if nexturl %}
    <li><a href="{{ site.baseurl }}{{nexturl}}" class="button primary fit small icon fa-arrow-circle-right"> Next Lesson</a></li>
{% endif %}
</ul>

{% include modal.html %}

<script src="{{site.baseurl}}/assets/js/usermodes.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    teachChecked();
    textChecked();
}, false);
</script>
