<section>
    <header class="major">
        <h2>License</h2>
    </header>
    <div class="mini-posts">
        <article>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="image"><img src="{{ site.baseurl }}/assets/images/cc-by-sa.png" alt="creative commons share alike license badge" /></a>
        </article>
        <article>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" class="image">View Legal Code</a>
        </article>
    </div>
    <ul class="actions">
        <li><a href="{{ site.baseurl }}/license" class="button">More</a></li>
    </ul>
</section>