<div id="sidebar">
    <div class="inner">

        <span class="alt image fit"><img src="{{ "/assets/BarnabasRobotics-Logo-03_LogoTextMotto-Horiz-1-e1475961562590.jpg" | relative_url }}" alt"" /></span>

        <!-- Search -->
        

        <!-- Mailchimp -->
        <!--section id="mailchimp" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Mailchimp?" />
            </form>
        </section-->
        
        <!-- Menu -->
        {% include sidebar/menu.html %}

        <!-- Feature -->
        <!-- {% include sidebar/feature.html %} -->

        <!-- Contact -->
        <!-- {% include sidebar/contact.html %} -->

        <!-- Footer -->
        {% include sidebar/footer.html %}

    </div>
</div>