<nav id="menu">
    <header class="major">
        <!-- <h2>Menu</h2> -->
    </header>
    <ul>
        <li><a href="elements.html"><i class="icon fa-cogs"></i> Instructors</a></li>
        <li><a href="classes.html"><i class="icon fa-graduation-cap"> </i> Students</a></li>
        <li>
            <span class="opener"><i class="icon fa-group"></i> Parents</span>
            <ul>
                <li><a href="#">Registration</a></li>
                <li><a href="#">Progress</a></li>
            </ul>
        </li>
        <li><a href="generic.html"><i class="icon fa-cubes"></i> Partners</a></li>
        <li><a href="https://github.com/poproar/Barnabas-Instructors-Guide/edit/master/{{ page.path }}"><i class="icon fa-pencil"></i> &nbsp;Improve this page</a></li>
        <li><a href="#"><i class="icon fa-envelope"></i> Contact Us</a></li>
        <li><a href="index.html"><i class="icon fa-home"></i> Homepage</a></li>
    </ul>
</nav>
