<nav id="menu">
    <header class="major">
        <!-- <h2>Menu</h2> -->
    </header>
    <ul>

        {% if page.url != "/" %}
        <li><a href="{{ site.baseurl }}/"><i class="icon fa-home"></i> Home</a></li>
        {% endif %}
        <li>
            <span class="opener"><i class="icon fa-android"></i> Bot Lessons</span>
            <ul>
                    {% for lesson in site.bot_lessons %}
                    <li><a href="{{ site.baseurl }}{{ lesson.url }}">{{ lesson.title }}</a></li>
                    {% endfor %}
            </ul>
        </li>
        {% assign ifLesson = '' %}
        {% if page.url contains "lessons" %}
        {% assign ifLesson = 'lessons/' %}
        {% endif %}

        {% if page.collection == "bot_lessons" %}
        {% include sidebar/lessonsegment.html %}
        {% endif %}

        <li>
            <span class="opener"><i class="icon fa-car"></i> Racer Lessons</span>
            <ul>
                    {% for lesson in site.racer_lessons %}
                    <li><a href="{{ site.baseurl }}{{ lesson.url }}">{{ lesson.title }}</a></li>
                    {% endfor %}
            </ul>
        </li>
        {% if page.collection == "racer_lessons"%}
        {% include sidebar/lessonsegment.html %}
        {% endif %}

        <li><a href="https://github.com/{{ site.repository }}/edit/master/{{ ifLesson }}{{ page.path }}"><i class="icon fa-edit"></i> &nbsp;Improve this page</a></li>
        <li><a href="{{ site.baseurl }}/downloads"><i class="icon fa-download"></i> &nbsp;Downloads</a></li>
        <li><a href="https://barnabasrobotics.com"><i class="icon fa-cogs"></i> BarnabasRobotics.com</a></li>
    </ul>
</nav>
